# Virtual environment

.venv/

# Environment variables

.env

# Python cache

**pycache**/
*.py[cod]

# Streamlit cache

.streamlit/

# Test / coverage cache

.pytest_cache/
.coverage
htmlcov/

# Local outputs

outputs/*
!outputs/.gitkeep

# OS files

.DS_Store
Thumbs.db

# VS Code

.vscode/
